#nav {
    background-color: rgb(253, 213, 154);
    display:flex;
    padding: 20px;
    width: 100%;
    top: 0;
}
.news {
    display: flex;
    border: solid blue 1px;
    margin: auto;
    margin-top: 15px;
    width: 80%;
}
#sidebar {
    height: 100%;
    width: 17%;
    position: fixed;
    background-color:rgb(253, 213, 154);
}    
#sidebar > button {
    width: 60%;
    margin: auto;
    background-color: teal;
    padding: 7px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 25px;
}